<div class='dream-user'>
  <%- if dream.user -%>
    <%= link_to("#{dream.user.username}", user_dreams_path(dream.user.username), :title => 'Show recent dreams from this user.') %><br/>
    <%= image_tag dream.user.gravatar_url(:size => 40), :alt => 'gravatar' %>
  <%- else -%>
    Anonymous<br/>
    <%= image_tag 'avatar.png', :alt => 'gravatar' %>
  <%- end -%>
  <br/>
  <span><%= (dream.created_at.nil? ? Time.now.utc : dream.created_at).strftime('%d-%b-%Y') %></span><br/>
  <span><%= (dream.created_at.nil? ? Time.now.utc : dream.created_at).localtime.strftime('%H:%M:%S') %></span>
</div>

<div class='dream-text'>
  <%= render_markdown dream.description %>
</div>

<div class='content-tags'>
  <% if dream.content_tag_list.empty? %>
    <%= link_to 'untagged', untagged_content_dreams_path, :class => 'tag-link', :title => "Show dreams without content tags" %>
  <% end %>
  <% for tag in dream.content_tag_list %>
    <%= link_to tag, content_tag_dreams_path(tag), :class => 'tag-link', :title => "Show recent dreams with content: #{tag}" %>
  <% end %>
  <br/>
</div>
<div class='context-tags'>
  <% if dream.context_tag_list.empty? %>
    <%= link_to 'untagged', untagged_context_dreams_path, :class => 'tag-link', :title => "Show dreams without context tags" %>
  <% end %>
  <% for tag in dream.context_tag_list %>
  <%= link_to tag, context_tag_dreams_path(tag), :class => 'tag-link', :title => "Show recent dreams with context: #{tag}" %>
  <% end %>
  <br/>
</div>

<div class='dream-actions'>
  <% if current_user && current_user.id == dream.user_id %>
    <%= link_to "[Edit]", edit_dream_path(dream), :title => 'Edit this dream.' %>
    <%# link_to "[Add Tags]", tag_dream_path(dream), :class => 'add-tags', :title => 'Tag this dream.' %>
  <% end %>
</div>
