<div class='dream-user'>
  <%- if dream.user -%>
    <%= link_to("#{dream.user.login}", user_dreams_path(dream.user.login), :title => 'Show recent dreams from this user.') %><br/>
    <%= image_tag dream.user.gravatar_url(:size => 40), :alt => 'gravatar' %>
  <%- else -%>
    Anonymous<br/>
    <%= image_tag 'avatar.png', :alt => 'gravatar' %>
  <%- end -%>
  <br/>
  <span><%= dream.created_at.strftime('%d-%b-%Y') %></span><br/>
  <span><%= dream.created_at.localtime.strftime('%H:%M:%S') %></span>
</div>

<div class='dream-text'>
  <%= render_markdown dream.description %>
</div>

<div class='dream-tags'>
  <% for tag in dream.tag_list %>
    <%= link_to tag, tag_dreams_path(tag), :class => 'tag-link', :title => "Show recent dreams tagged as #{tag}" %>
  <% end %>
  <br/>
  <%# link_to "[Add Tags]", tag_dream_path(dream), :class => 'add-tags', :title => 'Tag this dream.' %>
</div>

<% if current_user && current_user.id == dream.user_id %>
  <div class='dream-actions'>
    <%= link_to "[Edit]", edit_dream_path(dream), :title => 'Edit this dream.' %>
  </div>
<% end %>
