<p class='label-line'>
  <%= form.label :description, 'Describe Your Dream' %>
  <%= link_to "", '#description-help', :title => 'Describing Your Dream', :class => 'help-link help-icon', :rel => 'modal:open' %>
  <%= link_to "", preview_dreams_path, :title => 'Preview', :class => 'preview-link preview-icon', :rel => 'modal:open' %>
</p>
<p class='input-line'><%= form.text_area :description %></p>
<div id='description-help' class='help-popup'><%= render :partial => "dreams/help/description" %></div>

<p class='label-line'>
  <%= form.label :content_tag_list, 'Tag Your Dream' %>
  <%= link_to "", '#content_tag_list-help', :title => 'About Content Tags', :class => 'help-link help-icon', :rel => 'modal:open' %>
</p>
<p class='help-line'>(Ex. falling, whales, hitchhikers-guide)</p>
<p class='input-line'><%= form.text_field :content_tag_list, :class => 'text' %></p>
<div id='content_tag_list-help' class='help-popup'><%= render :partial => "dreams/help/content_tag_list" %></div>

<p class='label-line'>
  <%= form.label :context_tag_list, 'Tag Your Context' %>
  <%= link_to "", '#context_tag_list-help', :title => 'About Context Tags', :class => 'help-link help-icon', :rel => 'modal:open' %>
</p>
<p class='help-line'>(Ex. at home, scary movie)</p>
<p class='input-line'><%= form.text_field :context_tag_list, :class => 'text' %></p>
<div id='context_tag_list-help' class='help-popup'><%= render :partial => "dreams/help/context_tag_list" %></div>

<%- unless current_user -%>
<div class='recaptcha'><%= raw recaptcha_tags %></div>
<%- end -%>

<%= render :partial => "shared/preview_container" %>
