<% content_for :title do %>Record Your Dream<% end -%>

<h2>Record Your Dream</h2>
<% form_for @dream do |f| -%>
  <%= render_form_errors(@dream.errors) %>
  <%= render :partial => "form", :object => f %>
  <p class='button-line'>
    <%= link_to "Cancel", dreams_path, :title => 'Cancel' %> //
    <%= link_to "Preview", preview_dreams_path, :title => 'Preview', :class => 'preview-link' %> //
    <%= f.submit "Save", :class => 'submit' %>
  </p>
<% end -%>
