<p class='label-line'><%= form.label :username, 'Username' %></p>
<p class='input-line'><%= form.text_field :username, :class => 'text' %></p>
<p class='label-line'><%= form.label :email, 'Email Address' %></p>
<p class='input-line'><%= form.text_field :email, :class => 'text' %></p>
<p class='label-line'><%= form.label :password, form.object.new_record? ? 'Password' : "Change password" %></p>
<p class='input-line'><%= form.password_field :password, :class => 'password' %></p>
<p class='label-line'><%= form.label :password_confirmation, 'Confirm Password' %></p>
<p class='input-line'><%= form.password_field :password_confirmation, :class => 'password' %></p>