<h2>Available Feeds</h2>
<ul>
  <li>
    <%= link_to "Recent Dreams", dreams_url(:format => :atom), :title => 'Subscribe to the recent dreams feed.' %>
    - the 10 most recent dreams from all users
  </li>
  <li>
    <%= link_to "Recent Anonymous Dreams by Users", user_dreams_path('anonymous', :format => :atom),
      :title => 'Subscribe to the recent anonymous dreams feed.' %>
    - the 10 most recent anonymous dreams
  </li>
  <li>
    <%= link_to "Recent Dreams by Users", user_dreams_path('sundaykofax', :format => :atom),
      :title => 'Subscribe to the recent dreams feed for sundaykofax.' %>
    - the 10 most recent dreams from a single user
  </li>
  <li>
    <%= link_to "Recent Dreams tagged &quot;shark&quot;", tag_dreams_path('shark', :format => :atom),
      :title => 'Subscribe to the feed of dreams tagged &quot;shark&quot;.' %>
    - the 10 most recent dreams from a single tag
  </li>
  <li>
    <%= link_to "Recent Dreams on Christmas Eve", dreams_by_day_path(:year=>'2008',:month=>'12',:day=>'25', :format => :atom),
      :title => 'Subscribe to the feed of dreams on December 25, 2008' %>
    - the 10 most recent dreams for a specific date
  </li>
</ul>
