<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_merged :base %>
  <%= javascript_include_merged :base %>
</head>
<body>
  <div id='horizon'>
    <div id='wrapper'>

      <div id='menu'>
        <ul class='link-list'>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Add", 'new_dream_path' %></li>
          <%- if current_user -%>
            <li><%= link_to "Your Dreams", 'dreams_for_user_path' %></li>
            <li><%= link_to "Sign Out", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
          <%- else -%>
            <li><%= link_to "Log In", new_user_session_path %></li>
            <li><%= link_to "Register", new_account_path %></li>
          <%- end -%>
        </ul>
      </div>

      <div id='messages'>
        <ul class='message-list'>
          <li style="color: green"><%= flash[:notice] %></li>
        </ul>
      </div>

      <div id='content'>
        <%= yield  %>
      </div>

      <div id='footer'>
        <ul class='link-list'>
          <li><%= link_to "About", 'about_path' %></li>
          <li><%= link_to "Feeds", 'feeds_path' %></li>
          <%- if current_user -%>
          <li><%= link_to "Invite", 'new_invite_path' %></li>
          <%- end -%>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
